/*
$primary: #06BA63;
$secondary: #FFF275;
$yellow: #ffe600;
$menu-item-active-background-color: $primary;
$menu-item-active-color: #fff;
$fullhd-enabled: false;
$family-primary: 'Avenir', Helvetica, Arial, sans-serif;
$family-secondary: 'Avenir', Helvetica, Arial, sans-serif;
*/